@charset "UTF-8";

@media screen and (min-width: 700px){
	
	body{
		text-align:center;
	}
	
	#nav-drawer{
		display: none;
	}
	
	
	.contents {
	width : 100% ;
	margin-left:0px;
}
	
	
	.top{
		display: none;
	}
	
	.top-m {
	display:block;
}
	
	.main-m{
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		padding-top:10vh;
		padding-bottom:10vh;
		padding-left:30vw;
	}
	
	
	.menu-m{
		display: block;
		height:60px;
		width: 100%;
		position: fixed;
		
		z-index: 9999;
		background-color: white;
	
	}
	
	
	.logo-ber-m{
		display: block;
		width:40px;
		height: auto;
		position: fixed;
		
		margin:10px;
		transform-origin:40px 0px;
		transform: rotate(-90deg);
		float: left;
		
	}
	
	.menu-m-c{
		width: 500px;
		display: block;
		position: fixed;
		right: -40px;
		top:15px;
	}
	
	a{
		color:gray;
		margin-left:15px; 
		font-size: 12px;
		letter-spacing: 0.2em;
	}
	
	
	h4 {
	font-size:17px;
	padding-left: 0;
	padding-bottom: 40px;
	font-family: 'Catamaran';
	letter-spacing: 0.4em;
	padding-top: 120px;
    }
	
	
.main-d {
	box-sizing: border-box;
	
	width:100%;
	margin-top:calc(10vh + 50px);
	
	margin-bottom: 10vh;
}


.center {
	width:80vw;
    max-width:1100px;
	text-align:left;
	margin:0 auto;
}


.pd1 {
	float:right;
	width:50%;
	padding:0 5%;
}

	
.td1 {
	width:50%;
}




.pd2 {
	max-width:120vw;
	 transform:translateX(-20vw);
}

#about {
	
}
	

.info {
	display: block;
	width:50%;
	border-left:solid 1px gray;
	padding:0 20px;
	box-sizing: border-box;
	float: left;
	margin-bottom: 50px;
	opacity: 0.7;
	
	height: 100px;
}

.desk {
	display: block;
}

h6 {
	    font-size: 11px;
    letter-spacing: 0.3em;
    line-height: 1.6em;
}
	
	
strong{
	font-size:12px;
	line-height:26px;
	}
	
	
	
	.r-l {
	border-right:solid 1px gray;
}


	
.tips {
	width:80vw;
    max-width:1100px;
	text-align:left;
	margin:0 auto;
	overflow: hidden; 
}
	
	}
