@charset "UTF-8";
/* CSS Document */


body{
	margin:0px;
	padding:0px;
	width:100%;
	font-family: 'Noto Serif JP', 'Catamaran';
	-webkit-text-size-adjust: none;
	
	
	
}


div {
    margin:0px;
    padding:0px;
	
	
}


img{
	object-fit: cover;
	max-width:100%;
}





h1 {
	padding-top: 50px;
	padding-right: 0;
	padding-left: 40px;
	padding-bottom: 50px;
	font-size: 19px;
	letter-spacing: 0.4em;
	opacity: 0.7;
	line-height: 2;
	font-weight: lighter;
	z-index:1;
}

h2 {
	
	padding-top: 50px;
	padding-right: 0;
	padding-left: 40px;
	font-size: 19px;
	letter-spacing: 0.4em;
	opacity: 0.5;
	line-height: 2;
	font-weight: lighter;
}



h3 {
	padding-left: 60px;
	padding-bottom: 10px;
	font-size: 14px;
	font-family: 'Catamaran';
	letter-spacing: 0.4em;
	padding-top: 10px;
	line-height: 23px;
}


h4 {
	padding-left: 20px;
	padding-bottom: 15px;
	font-size: 10px;
	font-family: 'Catamaran';
	letter-spacing: 0.4em;
	padding-top: 50px;
}

h5 {
	padding-left: 60px;
	padding-bottom: 0;
	font-size: 9px;
	font-family: 'Catamaran';
	letter-spacing: 0.4em;
	padding-top: 30px;
}




p {
	font-size: 13px;
	letter-spacing: 0.3em;
	padding-bottom: 50px;
	line-height: 1.7;
}









.bar {
	height: 100%;
	width: 50px;
	left: 0px;
	border-right: 0.1px solid gray;
	background-color: white;
	position: fixed;
}

.contents {
	width : calc(100% - 50px);
	margin-left: 50px;
	overflow: hidden;
}

.top {
	height: 100%;
	width: 100%;
}

.main{
	height: 100%;
	margin: 0px;
	width: 100%;
}

.box {
	width: auto;
	padding-top: 0;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 0;
}

.black-back{
	
	background-color: rgba(0,0,0,0.9);
	color:white;
}

.logo-ber {
	width:34px;
	margin:10px 8px;
}

.photo {
	box-sizing: border-box;
	padding-top:50px;
	
}

.top0 {
	padding-top:0px;
}





/* 拾い物の「メニュー」*/

header {
	height:0px;
}

#nav-drawer {
  position: fixed;
  z-index: 999;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  height: 100%;
	width: 50px;
	left: 0px;
	border-right: 0.1px solid gray;
	background-color: white;
}

/*アイコン*/
#nav-open span, #nav-open span:before {
	position: fixed;
    
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}

/*中身*/
#nav-content {
  overflow: auto;
  position:fixed;
  top: 0;
  left: 50px;
  width: 100%;/*右側に隙間を作る（閉じるカバーを表示）*/
  height: 100%;
  transform: translateX(105%);/*左に隠しておく*/
  background-color: rgba(255,255,255,0.95);
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .0;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  
}



.in-menu {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%) ;
  
  
}

/* 拾い物の「メニュー」*/




a {
	color:black;
	text-decoration-line: none;
	font-family: 'Catamaran';
	line-height:2em;
}

.m {
	width:50px;
	height:100vh;
}

.top-m {
	display: none;
}

.logo-ber-m {
	display: none;
}



.menu-m {
	display: none;
}
